wsdl/greetUser.wsdl

<definitions
  targetNamespace="http://localhost:8000/Greeter"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://localhost:8000/Greeter"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="GreetRequest">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GreetResponse">
    <xsd:sequence>
      <xsd:element name="greeting" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <message name="GreetRequestMessage">
    <part name="parameters" element="tns:GreetRequest" />
  </message>

  <message name="GreetResponseMessage">
    <part name="result" element="tns:GreetResponse" />
  </message>

  <portType name="GreeterPort">
    <operation name="Greet">
      <input message="tns:GreetRequestMessage" />
      <output message="tns:GreetResponseMessage" />
    </operation>
  </portType>

  <binding name="GreeterBinding" type="tns:GreeterPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"
      xmlns:soap="http://schemas.xmlsoap.org/soap/" />
    <operation name="Greet">
      <soap:operation soapAction="http://localhost:8000/Greet" />
      <input>
        <soap:body use="encoded" parts="tns:parameters" />
      </input>
      <output>
        <soap:body use="encoded" parts="tns:result" />
      </output>
    </operation>
  </binding>

  <service name="GreeterService">
    <port name="GreeterPort" binding="tns:GreeterBinding">
      <soap:address location="http://localhost:8000/Greeter" />
    </port>
  </service>

</definitions>